.adminPanel-wrapper {
	.make-row();
	.adminPanel {
		.make-xs-column(12);
		background-color: rgba(0,0,0, 0.8);
		color: white;

	}
}

#ContentPlaceHolder1_TabelEdituri {
	display: block;
}

#ContentPlaceHolder1_TabelAutori, #ContentPlaceHolder1_TabelGenuri,
#ContentPlaceHolder1_TabelCarti, #ContentPlaceHolder1_TabelCartiEdituri  {
	display: none;
}
.tabeleHeadere {
	cursor: pointer;
	margin-right: 20px;
}