.adminPanel-wrapper {
	.make-row();
	.adminPanel {
		.make-xs-column(12);
		background-color: rgba(0,0,0, 0.8);
		color: white;
		font-size: 16px;
		.insertDataLink {
			font-size: 16px;
		}
	}
}

#ContentPlaceHolder1_TabelEdituri {
	display: block;
}

#ContentPlaceHolder1_TabelAutori, #ContentPlaceHolder1_TabelGenuri,
#ContentPlaceHolder1_TabelCarti, #ContentPlaceHolder1_TabelCartiEdituri  {
	display: none;
}
.tabeleHeadere {
	cursor: pointer;
	margin-right: 20px;
}

.adminBookPanel {
	position: fixed;
	left: 5px;
	top: 200px;
	z-index: 100;
	#editBook, #deleteBook {
		.primary-button;
		padding: 3px 10px;
		margin-bottom: 5px;
		text-align: center;
		vertical-align: middle;
	}
	.editBook, .deleteBook {
		font-size: 22px;
		.transition( 0.3s, ease);
		text-shadow: -2px 2px 5px rgba(0,0,0,0.15);
		&:hover {
			color: @brand-primary-inverse-lighter;
		}
		&:before {
			font-family: FontAwesome;
			font-size: 22px;
		}
	}
	.editBook {
		&:before {
			content: "\f040";
		}
	}
	.deleteBook {
		&:before {
			content: "\f014";
		}
	}
}

.editBook-wrapper , .deleteBook-wrapper {
	.make-row();
	.editBook-image, .deleteBook-image {
		.make-sm-column(3);
		@media (max-width: @screen-md) {
			.make-sm-column(4);
		}
	}
	.editBook-details, .deleteBook-details {
		.make-sm-column(9);
		@media (max-width: @screen-md) {
			.make-sm-column(8);
		}
	}
}