//Declarari globale
* {
	font-family: Verdana, sans-serif;
}
a {
	color: white;
	text-decorarion: none;
	&:hover, &:focus {
		text-decoration: none;
	}
}
img {
	width: 100%;
}

h1 {
	color: red;
}
.validators {
	padding-left: 0;
	font-size: 20px;
	color: red;
	text-align: left;
	&.small {
		font-size: 12px;
		text-align: center;
	}
	&.warning-message {
		padding-left: 15px;
		font-size: 12px;
	}
	&.good-message {
		padding-left: 15px;
		font-size: 12px;
		color: green;
	}
}
 textarea{
	resize: none!important;
}

.link {
	color: @brand-primary-inverse;
	.transition( 0.3s, ease);
	&:hover {
		text-decoration: none;
		cursor: pointer;
		color: @brand-primary;
	}
}

.error-messages {
	display: inline-block;
	font-size: 12px;
	color: red;
} 
.form-control {
	.input-primary-style;
}

.liquid ul li a .title {
	display: block;
}