#loginModal {
	.modal-dialog {
		.modal-content {
			.modal-header {
				background-color: @brand-primary;
				border-bottom: 2px solid @brand-neutral;
				.close {

				}
				.modal-title {
					color: white;
				}
			}
			.modal-body {
				.login-form-table {
					margin: 0 auto;
					font-size: 16px;
					td {
						padding: 10px;
						vertical-align: top;
						#LoginView1_Login_UserName, #LoginView1_Login_Password {
							.form-control;
							display: inline-block;
							width: 85%;
						}
						span {
							color: red;
						}
					}
				}
				.primaryButton {
					 background-color: @brand-primary;
					 color: White; 
					 .border-radius(4px, 4px, 4px, 4px);
					 padding: 6px 8px;
					 &:hover {
						background-color: @brand-primary-lighter; 
					 }
				}
			}
		}
	}
}
