@brand-primary: #413E4A; //gri inchis

@brand-primary-transparent: rgba(65, 62, 74, 0.9);

@brand-primary-lighter: #73626E; //gri deschis

// #eee pentru hover

@brand-primary-inverse: #81B3B1; //#B38184; //albastru-bleu

@brand-primary-inverse-lighter: #CBB198; //#F0B49E; //roziu

@brand-neutral: #F7E4BE; //crem