header, footer
{
	background-color: @brand-primary;
	color: @brand-neutral;
	//padding-top: 16px;
	#footer {
		height: 30px;
		font-size: 70%;
		padding: 3px;
	}
}
#searchTB
{
    padding-left: 25px;
}
#searchTB:before {
    content: "***"; /* \f002 */
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1px;
    left: 1px;
}
    
.dropdown 
{
    display:inline-block;    
}
.dropdown:hover .dropdown-menu {
    display: block;
 }
.primaryButton {
     background-color: #706664;
     color: White;  
     margin: 5px;
     border-radius: 4px;
     padding: 6px 8px;
 }
 .primaryButton:hover 
 {
   background-color: #787878; 
 }  
 .searchDiv 
 {
    //margin-top: 5px;    
 }
 .panou-admin 
 {
    position: fixed;
    top: 0px;
    left: 0px;    
    height: 16px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
 }
 .insertDataLink
{
    font-size: 12px;
    text-decoration: none; 
    color: White;
}
 .insertDataLink:hover 
 {
     text-decoration: none; 
     color: White;
 }