.jcarousel-control-prev, .jcarousel-control-next {
	background: transparent;
	color: @brand-primary-inverse;
	.transition( 0.3s, ease);
	box-shadow: none;
	&:active, &:focus {
		color: @brand-primary-inverse;
	}
	&:hover {
		color: @brand-primary-inverse-lighter;
	}
}