body 
{
    background: url(back.jpg) no-repeat bottom right fixed;
}
@font-face {
    font-family: fontHeader;
    src: url(font4.ttf);
}
#header
{
	height: 130px;
	background-color: #706664;
	color: white;
	padding: 3px;
}
h1
{
    font-family: fontHeader;
    cursor: pointer;
}
.form-group
{
    padding: 10px 0px 10px 0px;    
}
#banner
{
    float: left;
	height: 80%;
	padding-left: 30px;
	padding-right: 30px;
	display: inline;
}
#footer 
{
	position: fixed;
	height: 30px;
	font-size: 70%;
	bottom: 0;
	background-color: #706664;
	color: white;	
	padding: 3px;
	width: 100%;
	left: 0;
}

.loginAndRegister
{
    float: right;
    color: White;  
    margin: 5px;
}
.loginAndRegister:hover
{
    color: #EA8F74;    
    cursor: pointer;
}
.loginForm
{
    background-color: #E6E6E6;
    position: fixed;
    left: 50%;
    top: 50%;
  	margin: -175px 0 0 -175px;
  	width: 350px;
    display: none;
    color: black;
    padding: 0px 20px 20px 20px;
    border: solid 1px grey;
	border-radius: 15px;
	box-shadow: 1px 1px 15px black;
}
.blackBackground
{
    display: none;
    position: absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    background-color : black;
    opacity: 0.6;  
}
#ContentPlaceHolder1_CompleteRegistrationFormButton, .loginButton, #searchButton
{
    background-color: #706664;
    color: White;  
    margin: 5px;
    border-radius: 10px;
}
#ContentPlaceHolder1_CompleteRegistrationFormButton:hover, .loginButton:hover, #searchButton:hover
{
    background-color: #787878;    
}
#loggedInText
{
    float: right;   
}
.searchDiv
{
    display: inline;
    float: right;
}
#searchTB
{
    color: Black;
}
td
{
    padding: 5px;
}
.col-sm-12
{
    box-shadow: 0px 0px 58px -2px rgba(0,0,0,0.75); 
}

h4
{
    padding: 0px 10px 0px 10px;  
}
h4:hover
{
    cursor:pointer;
    text-shadow: 5px 0px 10px rgba(150, 150, 150, 1);
}
#ContentPlaceHolder1_TabelGenuri
{
    display: none;    
}
#ContentPlaceHolder1_TabelEdituri
{
    display: none;    
}
#ContentPlaceHolder1_TabelCarti
{
    display: none;    
}